#first-paragraph {
  color: blue;
  background-color: aquamarine;
  font-size: xx-large;
}

#link-to-interactive {
  color: black;
  background-color: white;
}

h1 {
  background-color: red;
}

p {
  color: beige;
  background-color: blue;
}

body {
  background-color: black;
}
